@import "tailwindcss";

:root {
  --background: #F8F5F0;
  --foreground: #2B1D16;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes featured-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-386px * 5));
  }
}

.animate-featured-scroll {
  width: max-content;
  animation: featured-scroll 30s linear infinite;
}

.animate-featured-scroll:hover {
  animation-play-state: paused;
}